.ant-pagination-item-active {
  border-color: #333 !important;
}

.ant-pagination-item-active a {
  color: #333 !important;
}

.ant-pagination-item:hover {
  border-color: #333 !important;
}

.ant-pagination-item:hover a {
  color: #333 !important;
}
